DJANGO_LOGKIT_REQUEST_ID_HEADER=HTTP_X_REQUEST_ID
DJANGO_LOGKIT_TRACE_ID_HEADER=HTTP_X_TRACE_ID
DJANGO_LOGKIT_SPAN_ID_HEADER=HTTP_X_SPAN_ID
DJANGO_LOGKIT_PROJECT_ID_HEADER=HTTP_X_PROJECT_ID
DJANGO_LOGKIT_ORG_ID_HEADER=HTTP_X_ORG_ID
DJANGO_LOGKIT_TENANT_HEADER=HTTP_X_TENANT

DJANGO_LOGKIT_LOG_REQUESTS=true
DJANGO_LOGKIT_LOG_REQUEST_HEADERS=true
DJANGO_LOGKIT_LOG_RESPONSE_HEADERS=true
DJANGO_LOGKIT_LOG_REQUEST_BODY=true
DJANGO_LOGKIT_LOG_RESPONSE_BODY=true

DJANGO_LOGKIT_REQUEST_LOGGER=django.request
DJANGO_LOGKIT_BODY_MAX_LENGTH=8192
DJANGO_LOGKIT_REDACT_HEADERS=Authorization,Cookie,Set-Cookie,X-Api-Key,Proxy-Authorization

DJANGO_LOGKIT_PROPAGATE_TRACE_ID=false
DJANGO_LOGKIT_PROPAGATE_SPAN_ID=false
DJANGO_LOGKIT_PROPAGATE_PROJECT_ID=false
DJANGO_LOGKIT_PROPAGATE_ORG_ID=false
DJANGO_LOGKIT_PROPAGATE_TENANT=false

DJANGO_LOGKIT_ENVIRONMENT=local
