DJANGO_LOGKIT_REQUEST_ID_HEADER=HTTP_X_REQUEST_ID
DJANGO_LOGKIT_TRACE_ID_HEADER=HTTP_X_TRACE_ID
DJANGO_LOGKIT_SPAN_ID_HEADER=HTTP_X_SPAN_ID
DJANGO_LOGKIT_PROJECT_ID_HEADER=HTTP_X_PROJECT_ID
DJANGO_LOGKIT_ORG_ID_HEADER=HTTP_X_ORG_ID
DJANGO_LOGKIT_TENANT_HEADER=HTTP_X_TENANT

DJANGO_LOGKIT_LOG_REQUESTS=true
DJANGO_LOGKIT_LOG_REQUEST_HEADERS=false
DJANGO_LOGKIT_LOG_RESPONSE_HEADERS=false
DJANGO_LOGKIT_LOG_REQUEST_BODY=false
DJANGO_LOGKIT_LOG_RESPONSE_BODY=false

DJANGO_LOGKIT_REQUEST_LOGGER=django.request
DJANGO_LOGKIT_BODY_MAX_LENGTH=2048
DJANGO_LOGKIT_REDACT_HEADERS=Authorization,Cookie,Set-Cookie,X-Api-Key,Proxy-Authorization

DJANGO_LOGKIT_PROPAGATE_TRACE_ID=true
DJANGO_LOGKIT_PROPAGATE_SPAN_ID=true
DJANGO_LOGKIT_PROPAGATE_PROJECT_ID=true
DJANGO_LOGKIT_PROPAGATE_ORG_ID=true
DJANGO_LOGKIT_PROPAGATE_TENANT=true

DJANGO_LOGKIT_SERVICE_NAME=example-api
DJANGO_LOGKIT_ENVIRONMENT=production
